@import 'cmp.scss';
@import 'generic-left-list.scss';
@import 'icon.scss';
@import 'button.scss';

$left-menu-width: 250px;
$left-menu-padding-left: 35px;

body {
  margin: auto;
  margin-left: 0;
  color: #202020;
  background-color: #fafafa;
  font-family: "Open Sans","Helvetica",Arial,sans-serif;
  font-size: 13px;
  padding: 0 !important;
  margin-bottom: 0 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

li {
  text-align: left;
}

table{
  border-collapse: collapse;
}

td {
  vertical-align: top;
}

img {
  border: 0;
  vertical-align: middle;
}

@font-face {
  font-family: "fontist";
  src: url(https://d3ptyyxy2at9ui.cloudfront.net/f36f23ebdbcd2bbef3f7f3852679f2ef.eot);
  src: url(https://d3ptyyxy2at9ui.cloudfront.net/f36f23ebdbcd2bbef3f7f3852679f2ef.eot#iefix) format("embedded-opentype"), url('../fonts/bd0e409c04f04a8219e567896509f2f3.woff') format("woff"), url(https://d3ptyyxy2at9ui.cloudfront.net/438fd20e5fbc343608903f287cb1c433.ttf) format("truetype"), url(https://d3ptyyxy2at9ui.cloudfront.net/535882d3ffba25fa5b9685000bbb97cf.svg#fontist) format("svg");
  font-weight: normal;
  font-style: normal
}

.arrow {
  position: absolute;
  margin-left: -18px;
  cursor: pointer;
  z-index: 20;
}

.menu {
  vertical-align: top;
  text-align: right;
}

.menu.icon {
  border: none !important;
}

.items .icon {
  cursor: pointer;
  width: 22px;
}

.gear_menu {
  opacity: .5;
}

td.menu {
  cursor: pointer;
}

.items {
  margin: 0;
  padding: 0;
  list-style-type: none;

  table {
    border-collapse: collapse;
  }
}

.td_separator {
  padding: 0 1px;
}

.td_color {
  vertical-align: top;
  text-align: left;
  white-space: nowrap;
  min-width: 20px;
  padding-left: 5px !important;
}

a.action:hover {
  text-decoration: underline
}

.counter_color {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.current {
  cursor: default;
}

.name {
  width: 100%;
  line-height: 17px;
}

.clickable {
  cursor: pointer;
}

.holder {
  max-width: 950px;
  margin-left: 150px;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 120ms;
  -webkit-animation-duration: 120ms;
}

.counter_count {
  display: inline;
  color: #bbb;
  padding-left: 5px;
  font-size: 11px;
}

#main_content {
  background-color: #fff;
  border-right: 1px solid #f1f1f1;
  margin-left: 19+$left-menu-width;
  padding: 0 20px;
}

.section_header {
    margin: 0 0 0 0 !important;
    padding: 0 0 6px 0 !important;
  
  &, &a{
    font-size: 20px !important;
    font-weight: normal;
  }
}

.form_content {
  padding: 0;
  width: 100%;
  height: 39px;
  
  table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
  }

  td {
    cursor: text;
  }

  .richtext_editor {
    font-size: 14px;
    min-height: 21px;
  }
}

.text_box_holder {
  width: 100%;
  border-right: 1px solid #eee;
  background-color: white !important;
}

.richtext_editor {
  padding-bottom: 4px !important;
  height: auto !important;
  line-height: 19px;
  -webkit-touch-callout: text !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

textarea,
.text_box,
.input_due_date,
.richtext_editor {
  resize: none;
  padding: 6px 6px 0 6px;
  outline: 0;
  min-height: 20px;
}

textarea,
input,
.richtext_editor {
  font-family: "Open Sans","Helvetica",Arial,sans-serif;
  font-size: 13px;
}

.indent_arrows {
  padding-right: 2px;
  padding-left: 2px;
  text-align: center;

  div {
    cursor: pointer;
    margin: 0 4px 4px 6px;
    opacity: .5;
  }

  div:first-child {
    margin-top: -5px !important;
  }
}

li.manager {
  .td_submit {
    width: 0 !important;
    white-space: nowrap;
    padding-right: 25px !important;
  }

  .submit_btn {
    margin-right: 5px;
  }
}

.manager .submit_btn {
  margin-top: 5px;
}

.td_extra {
  width: 100% !important;
}
