$background-img: '../images/logo-background.png';

.cmp_filter_inbox {
  background: url($background-img) 0 0 no-repeat;
  background-size: 197px,2782px;
  background-position: 0 -1465px;
  width: 20px;
  height: 18px;
}

.cmp_filter_today {
  background: url($background-img) 0 0 no-repeat;
  background-size: 197px,2782px;
  background-position: 0 -1393px;
  width: 20px;
  height: 18px;
}

.cmp_filter_days {
  background: url($background-img) 0 0 no-repeat;
  background-size: 197px,2782px;
  background-position: 0 -1483px;
  width: 20px;
  height: 18px;
}

.cmp_light_logo {
  background: url($background-img) 0 0 no-repeat;
  background-size: 197px,2782px;
  background-position: 0 -1811px;
  width: 25px;
  height: 25px;
}

.cmp_open_arrow_down {
  background: url($background-img) 0 0 no-repeat;
  background-size: 197px,2782px;
  background-position: 0 -64px;
  width: 10px;
  height: 10px;
}

.cmp_open_arrow_right {
  background: url($background-img) 0 0 no-repeat;
  background-size: 197px,2782px;
  background-position: 0 -84px;
  width: 10px;
  height: 10px;
}

.cmp_menu_on {
  background: url($background-img) 0 0 no-repeat;
  background-size: 197px,2782px;
  background-position: 0 -1519px;
  width: 22px;
  height: 18px;
}

.cmp_indent_right {
  background: url($background-img) 0 0 no-repeat;
  background-size: 197px,2782px;
  background-position: 0 -357px;
  width: 14px;
  height: 14px;
}

.cmp_indent_left {
  background: url($background-img) 0 0 no-repeat;
  background-size: 197px,2782px;
  background-position: 0 -217px;
  width: 14px;
  height: 14px;
}