.generic_left_list {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;

  .items li {
    padding: 0;
  }

  table {
    width: 100%;
    -webkit-transition: background .1s ease-in;
    transition: background .1s ease-in;
  }

  .name {
    font-size: 14px;
    color: #303333;
    padding-left: 0;
  }

  li table td {
    padding: 9px 0 4px 4px;
  }

  .menu {
    padding-top: 10px;
  }

  .gear_menu {
    visibility: hidden;
    margin-right: 4px !important;
    padding: 0;
  }

  .arrow {
    width: 8px;
    height: 20px;
    padding: 0 5px 0 5px;
    margin-left: -18px;
    margin-top: 7px;
    background-color: transparent;
  }

  .indent_2 {
    padding-left: 22px !important;
  }

  li.manager table td {
    padding: 0;
  }

  .text_box_holder .counter_color {
    margin-top: 6px;
  }

  .text_box_holder .div_color {
    cursor: pointer;
    padding-right: 8px;
    padding-bottom: 8px;
    float: left !important;
    position: absolute;
    margin-left: 3px;
  }
  
  .richtext_editor {
    margin-left: 22px;
    width: 141px;
  }

  .form_content .richtext_editor {
    font-size: 14px;
    min-height: 21px;
  }
}